<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/public/css/compras.css">
  <title>compras</title>
</head>

<body>

  <div id="container-1" class="container">
    <!--
        Navegador principal de la pagina
      -->
    <nav id="cont-1_nav">
      <a href="/index.html" id="cont-1_nav_title"><b>Human Nucleus</b><img
          src="https://cdn-icons-png.flaticon.com/128/9195/9195920.png" alt="" /></a>
      <a href="index.html"><b>productos</b></a>
      <a href="compras.html"><b>compras</b></a>
      <a href="registro.html"><b>cuenta</b></a>
    </nav>

  <!--Aqui contiene los espacios para almacenar el carrito y las compras-->
  <!--Carrito-->
  <div id="container-1" class="container">
    <div id="cont-enc">
      <hr />
      <p id="productos"><b>Carrito</b></p>
      <hr />
    </div>
    <div id="slots_car" class="cont-slots"></div>
    <div>
      <button id="button_sell"><a href="pago.html">Sell</a></button>
    </div>
  </div>

   <!--Compras-->
  <div id="container-2" class="container">
    <div id="cont-enc">
      <hr />
      <p id="productos"><b>Compras</b></p>
      <hr />
    </div>
    <div id="slots_comp" class="cont-slots"></div>
  </div>
  </div>

  <footer>
    <div class="div1">
      <p>
        Human Nucleus <br />
        COPYRIGHT © 2024 <br />
        Created by Saul Medina <br />
        Designed By: Saul Medina
      </p>
    </div>
    <div class="div2">
      <p>HUMAN NUCLEUS</p>
    </div>
    <div class="div3">
      <p>
        Designed with: Figma <br />
        Images gen: Copilot <br />
        Security: HTTPS
        Suported by: GitHub Pages
      </p>
    </div>
  </footer>
</body>

<script src="/src/app/compras.js"></script>
</html>