body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 0;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 80s ease infinite;
    background-position: 20%;
}
@keyframes gradient {
    0% {
      background-position: 0% 25%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="file"] {
    display: none;
}

#preview {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
}
/*Afecta todas la funcionalidades del navegador*/
#cont-1_nav {
    background-color: rgba(240, 248, 255, 0.384);
    width: 98%;
    height: 7vh;
    margin: 1% 1% 0% 1%;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
  }
  
  #cont-1_nav a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 1%;
    text-align: right;
  }
  
  #cont-1_nav_title {
    margin-right: 55%;
    text-align: left;
  }
  
  #cont-1_nav img {
    height: 25px;
  }

/* Estilos adicionales para hacer el formulario más atractivo */

.container {
    background-color: #f0f8ff62;
    padding: 40px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

h2 {
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    position: relative;
}

label {
    font-weight: bold;
    text-align: left;
}
input{
    width: 100%;
    height: auto;
}
input,
button {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus,
button:focus {
    outline: none;
    border-color: #007bff;
}

input[type="file"] {
    display: block;
    margin-top: 10px;
}

#preview {
    margin-top: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
}
#preview{
    margin: 5% 25% 5% 25%;
    height: 50%;
    width: 50%;
    border-radius: 10%;
    box-shadow: 0px 0px 20px 1px #333;
}